<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lpiem.ptut_limit_ecran.limitecran">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
            android:name="android.permission.PACKAGE_USAGE_STATS"
            tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@drawable/logo_arbre"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo_arbre"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.lpiem.ptut_limit_ecran.limitecran.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <!-- ressource file to create -->
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <activity
                android:name=".SplashScreen"
                android:screenOrientation="portrait"
                android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivityContainer"
                android:label="@string/title_activity_main_container"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".DetailAndShareTree"
                android:screenOrientation="portrait"/>
    </application>

</manifest>